<div class="container-fluid py-3">
  <div class="row w-100 m-0">
    <div class="col">
      <div class="card shadow-sm">
        <div class="card-header bg-white border-0">
          <h4>My Meetings</h4>
        </div>
        <div class="table-responsive">
          <table class="table table-flush m-0">
            <thead class="thead-light">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Meeting Topic</th>
                <th scope="col">Attendees</th>
                <th scope="col">Description</th>
                <th scope="col">Date/Time</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                  <button type="button" class="btn btn-sm btn-dark">
                    Cancel Meeting
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
